<html>
<head>
    <title>Contactbook</title>
</head>
<body>
    <a href="/Contacts/All">View Contacts</a>
    <span> | </span>
    <a href="/Contacts/Add">Add Contact</a>
    <h2>All Contacts Count: {{ContactsCount}}</h2>
</body>
</html>
